@page "/"
@using ClassicCalculator
@inject ICalculator Calculator

<div class="calculator">
    <input type="text" id="calculator-display" class="calculator-display" value="@Calculator.DisplayValue" readonly tabindex="-1" />
    <div class="calculator-buttons">
        <button id="clear-button" class="calc-btn special" @onclick='() => Calculator.PressButton(CalculatorButton.Clear)'>C</button>
        <button id="percentage-button" class="calc-btn operation" @onclick='() => Calculator.PressButton(CalculatorButton.Percentage)'>%</button>
        <button id="sqrt-button" class="calc-btn operation" @onclick='() => Calculator.PressButton(CalculatorButton.SquareRoot)'>√</button>
        <button id="divide-button" class="calc-btn operation" @onclick='() => Calculator.PressButton(CalculatorButton.Divide)'>÷</button>

        <button id="digit-7-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.Seven)'>7</button>
        <button id="digit-8-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.Eight)'>8</button>
        <button id="digit-9-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.Nine)'>9</button>
        <button id="multiply-button" class="calc-btn operation" @onclick='() => Calculator.PressButton(CalculatorButton.Multiply)'>×</button>

        <button id="digit-4-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.Four)'>4</button>
        <button id="digit-5-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.Five)'>5</button>
        <button id="digit-6-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.Six)'>6</button>
        <button id="subtract-button" class="calc-btn operation" @onclick='() => Calculator.PressButton(CalculatorButton.Subtract)'>-</button>

        <button id="digit-1-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.One)'>1</button>
        <button id="digit-2-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.Two)'>2</button>
        <button id="digit-3-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.Three)'>3</button>
        <button id="add-button" class="calc-btn operation" @onclick='() => Calculator.PressButton(CalculatorButton.Add)'>+</button>

        <button id="toggle-sign-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.ToggleSign)'>+/-</button>
        <button id="digit-0-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.Zero)'>0</button>
        <button id="decimal-button" class="calc-btn digit" @onclick='() => Calculator.PressButton(CalculatorButton.Decimal)'>.</button>
        <button id="equals-button" class="calc-btn equals" @onclick='() => Calculator.PressButton(CalculatorButton.Equals)'>=</button>
    </div>
</div>

<link href="css/Calculator.css" rel="stylesheet" />
